body {
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: #fff;
  margin: 0;
  padding: 16px;
}

header {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 50px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 50px;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  padding: 8px 16px;
  background: #1e90ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

main#anime-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 32px;
}

.anime-card {
  background: #1a1a1a;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  font-size: 9.6px; /* 0.6rem */
  margin: 8px 0;
  line-height: 1.2;
}

.anime-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

/* Poster Mobile Display Start */
@media (max-width: 600px) {
  main#anime-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Poster Mobile Display End */

/* Navigation Start */
.navbar {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-ites: center;
  padding: 0px;
  position: relative;
}

.logo {
  font-size: 25px; /* 1.2rem */
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-left: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px; /* 1.5rem */
  color: white;
}

/* Mobile menu */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    background-color: #1a1a1a;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    padding: 15px;
  }

  .nav-links.active {
    display: flex;
  }
}
/* Navigation End */

/* Footer Start */
.site-footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid #333;
}

.site-footer .footer-links a {
  color: #1e90ff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.site-footer .footer-links a:hover {
  text-decoration: underline;
}

.site-footer p {
  color: #aaa;
  margin-top: 10px;
  font-size: 14px;
}
/* Footer End */
